#chatContainer {
  position: fixed;
  top: 0%;
  bottom: 0%;
  width: 40%;
  height: 90%;
  background-color: #fff;
  right: 0px;
  left: 0px;
  box-shadow: -1px 1px 5px rgba(#333, 0.2);
  border-radius: 3px;
  overflow: hidden;
  margin: auto;
  border-radius: 0px;
  .dropdown ul li a{
      font-size: 14px;
      margin-top: -8px;
  }
}

@media screen and (max-width: 700px) {
  #chatContainer {
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin-top: 0px;
  }
}




.mybutton{
  position: fixed;
  z-index:9999999;
  bottom: 10%;
  right: 14%;
  display:block !important;

  @media screen and (max-width: 700px) {
    bottom: 6%;
    right: 4%;
  }
}

.mybutton button{
  background: #E67E22;
  border: none;
  color: white;
  padding: 16px 12px;
  border-radius: 50%;
  font-size: 36px;
  font-weight: 400;
}

.mybutton button:hover{
  background: #bb5e0d;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #E67E22; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E67E22; 
}

.loader{
  position: fixed;
  width: 100%;
  z-index: 99;
}

.mat-progress-bar .mat-progress-bar-fill::after{
  background-color: #E67E22;
}

.backclick a{
  color: #fbfbfb;
  font-size: 24px;
}

.dropdown-menu li a{
    cursor: pointer;
  }
  
  #sidebar {
      width: 100%;
      height: 100%;
      border-right: 1px solid #e1e4e5;
      display: flex;
      flex-direction: column;
    
      #row1 {
        display: flex;
        flex-direction: column;
        position: fixed; 
        width: 40%;
        @media screen and (max-width: 700px) {
          width: 100%;
        }
        
        #sidebarHeader {
          flex-basis: 67px;
          background-color: #E67E22;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-left: 20px;
          padding-right: 20px;
          justify-content: space-between;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          @media screen and (max-width: 700px) {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
          }  

          .avatarSection {
            display: flex;
            .picture {
              min-width: 40px;
              max-width: 40px;
              margin: 0 10px;
              img {
                max-width: 100%;
              }
            }
            .nameSection {
              flex-grow: 1;
              color: white;
              display: flex;
              align-items: center;
            }
            .nameSection label{
              font-size: 24px;
              color: white;
              font-weight: 200;
              font-family: 'Abhaya Libre';
            }
            #backbutton a{
              font-size: 30px;
              color: white;
            }
            #backbutton a:hover{
              color: white;
            }
          }
          .avatarContainer {
            flex-basis: 43px;
            height: 43px;
            img {
              height: 100%;
            }
          }
    
          .actionsContainer {
            height: 100%;
            display: flex;
            align-items: center;
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
    
        #searchBox {
          flex-basis: 54px;
          background-color: #F4F7F9;
          border-bottom: 1px solid #FFFFFF;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            position: absolute;
            left: 30px;
          }
    
          input {
            width: calc(90% - 60px);
            border: none;
            border-radius: 20px;
            height: 70%;
            margin-left: 20px;
            padding: 8px 20px 8px 20px;
            color: #a4a4a4;
            outline: none;
            box-shadow: 0px 0px 3px #F4F7F9;
            &::placeholder {
              color: #a4a4a4;
              font-weight: 100;
            }
          }
        }
      }
    
      #noConversations {
        padding-top: 30px;
        text-align: center;
        color: #b9b9b9;
        font-size: 18px;
        font-weight: 100;
      }
      #sidebarContent {
        flex-grow: 1;
        height: 70vh;
        overflow-y: auto;
        margin-top: 120px;
        background: #FFFFFF;
        margin-right: -2px;
        @media (max-width: 700px) {
          height: 78vh;
        }
        .conversation {
          height: 70px;
          display: flex;
          padding-right: 0px;
          transition: all 0.4s ease-in-out;
          background: #FFFFFF;
          cursor: pointer;
          &:hover {
            background-color: #F4F7F9;
          }
          .picture {
            flex-basis: 73px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              max-width: 100%;
              width: 48px;
              border-radius: 50%;
            }
          }
          .content {
            border-bottom: 1px solid #e2e4e6;
            flex-grow: 1;
            padding: 20px 0px;
            padding-right: 10px;
            .conversationHeader {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .name a{
                color: #242323;
                font-size: 18px;
                margin-top: 6px;
                font-weight: lighter;
                font-family: 'Abhaya Libre';
              }
              .time {
                color: #242323;
                font-size: 13px;
                padding-top: 2px;
              }
            }
    
            .message {
              color: #242323;
              font-size: 13px;
              padding-top: 5px;
              display: flex;
              align-items: center;
              img {
                margin-right: 2px;
              }
            }
          }
        }
      }
    }