<div class="loader" *ngIf="loader">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
  
<div class="container" id="chatContainer">
    <div class="row">
        <div class="col-md-12 col-lg-12" style="padding: 0px; margin: 0;">

            <div id="sidebar">

                <div id="row1" >
                    
                    <div id="sidebarHeader" >
                    
                    <div class="avatarSection">
                        <div class="nameSection"><a routerLink="/chats" ><label>&nbsp;&larr;&nbsp;&nbsp;&nbsp;Select Contact</label></a></div>
                    </div>
            
                    </div>
                    
                    <div id="searchBox">
                    <img width="19" src="../../assets/images/searchIcon.svg" />
                    <input
                        [(ngModel)]="term"
                        type="text"
                        placeholder="Search Contacts"
                    />
                    </div>
                
                </div>
                
                <div id="sidebarContent" (scroll)="onScroll($event)">
                
                    <div class="containtLoader" *ngIf="loadingstart">
                        <div class="spinner"></div>
                    </div>

                    <div class="conversation" *ngFor="let people of contactlist | filter:term">
                    
                        <div class="picture">
                            <img src="./../../assets/images/noPic.svg" />
                        </div>
                        
                        <div class="content" [routerLink]="['./../personalchat', people.id]">
                            <div class="conversationHeader">
                            <div class="name"><a>{{people.firstName}} {{people.lastName}}</a></div>
                            </div>
                        </div>

                    </div>
            
                </div>
            
            </div>

        </div>
    </div>
</div>