.registration-form{
    display: flex;
    justify-content: center;
}

.head{
    background: #a2a3a4;
    width: 100px;
    padding: 45px 100px;
    border-radius: 50%;
}

.head label{
    font-size: 100px;
    margin-left: -35px;
    color: aliceblue;
}

.form-ele ul li{
    padding: 20px 40px 20px 40px;
    list-style: none;
    margin-left: -40px;
}

.form-ele ul li input{
    border: none;
    border-bottom: 1px solid #a2a3a4;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'Abhaya Libre';
    color: #5D6D7E;
}

.form-ele ul li input:focus{
    outline: none;
    border-bottom: 2px solid #515253;
}

.form-ele ul li button{
    background: #a2a3a4;
    color: aliceblue;
    border: none;
    font-size: 24px;
    padding: 18px 15px 18px 15px;
    border-radius: 50%;
    font-family: 'Abhaya Libre';
}

.form-ele ul li button:disabled{
    background: #B3B6B7;
    cursor: not-allowed;
}

.form-ele ul li button:hover{
    background: rgb(2, 68, 85);
}

.form-ele ul li select{
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    color: black;
    font-size: 20px;
}